:root {
  --display-extralarge-size: 64px;
  --display-large-size: 48px;
  --display-medium-size: 36px;
  --display-small-size: 24px;

  --text-extralarge-size: 20px;
  --text-large-size: 18px;
  --text-medium-size: 16px;
  --text-small-size: 14px;
  --text-extrasmall-size: 12px;
  --text-tiny-size: 10px;
}
