:root {
  --display-extralarge-extrabold-size: 64px;
  --display-extralarge-extrabold-weight: 800;
  --display-extralarge-bold-size: 64px;
  --display-extralarge-bold-weight: 700;
  --display-extralarge-semibold-size: 64px;
  --display-extralarge-semibold-weight: 600;
  --display-extralarge-medium-size: 64px;
  --display-extralarge-medium-weight: 500;
  --display-extralarge-regular-size: 64px;
  --display-extralarge-regular-weight: 400;
  --display-large-extrabold-size: 48px;
  --display-large-extrabold-weight: 800;
  --display-large-bold-size: 48px;
  --display-large-bold-weight: 700;
  --display-large-bold-line-height: 60px;
  --display-large-semibold-size: 48px;
  --display-large-semibold-weight: 600;
  --display-large-medium-size: 48px;
  --display-large-medium-weight: 500;
  --display-large-regular-size: 48px;
  --display-large-regular-weight: 400;
  --display-medium-extrabold-size: 36px;
  --display-medium-extrabold-weight: 800;
  --display-medium-bold-size: 36px;
  --display-medium-bold-weight: 700;
  --display-medium-semibold-size: 36px;
  --display-medium-semibold-weight: 600;
  --display-medium-medium-size: 36px;
  --display-medium-medium-weight: 500;
  --display-medium-regular-size: 36px;
  --display-medium-regular-weight: 400;
  --display-small-extrabold-size: 24px;
  --display-small-extrabold-weight: 800;
  --display-small-bold-size: 24px;
  --display-small-bold-weight: 700;
  --display-small-semibold-size: 24px;
  --display-small-semibold-weight: 600;
  --display-small-medium-size: 24px;
  --display-small-medium-weight: 500;
  --display-small-regular-size: 24px;
  --display-small-regular-weight: 400;
  --text-extralarge-extrabold-size: 20px;
  --text-extralarge-extrabold-weight: 800;
  --text-extralarge-bold-size: 20px;
  --text-extralarge-bold-weight: 700;
  --text-extralarge-semibold-size: 20px;
  --text-extralarge-semibold-weight: 600;
  --text-extralarge-medium-size: 20px;
  --text-extralarge-medium-weight: 500;
  --text-extralarge-regular-size: 20px;
  --text-extralarge-regular-weight: 400;
  --text-large-extrabold-size: 18px;
  --text-large-extrabold-weight: 800;
  --text-large-bold-size: 18px;
  --text-large-bold-weight: 700;
  --text-large-semibold-size: 18px;
  --text-large-semibold-weight: 600;
  --text-large-medium-size: 18px;
  --text-large-medium-weight: 500;
  --text-large-regular-size: 18px;
  --text-large-regular-weight: 400;
  --text-medium-extrabold-size: 16px;
  --text-medium-extrabold-weight: 800;
  --text-medium-bold-size: 16px;
  --text-medium-bold-weight: 700;
  --text-medium-semibold-size: 16px;
  --text-medium-semibold-weight: 600;
  --text-medium-medium-size: 16px;
  --text-medium-medium-weight: 500;
  --text-medium-medium-line-height: 23px;
  --text-medium-regular-size: 16px;
  --text-medium-regular-weight: 400;
  --text-small-extrabold-size: 14px;
  --text-small-extrabold-weight: 800;
  --text-small-bold-size: 14px;
  --text-small-bold-weight: 700;
  --text-small-semibold-size: 14px;
  --text-small-semibold-weight: 600;
  --text-small-medium-size: 14px;
  --text-small-medium-weight: 500;
  --text-small-regular-size: 14px;
  --text-small-regular-weight: 400;
  --text-extrasmall-extrabold-size: 12px;
  --text-extrasmall-extrabold-weight: 800;
  --text-extrasmall-bold-size: 12px;
  --text-extrasmall-bold-weight: 700;
  --text-extrasmall-semibold-size: 12px;
  --text-extrasmall-semibold-weight: 600;
  --text-extrasmall-medium-size: 12px;
  --text-extrasmall-medium-weight: 500;
  --text-extrasmall-regular-size: 12px;
  --text-extrasmall-regular-weight: 400;
  --text-tiny-extrabold-size: 10px;
  --text-tiny-extrabold-weight: 800;
  --text-tiny-bold-size: 10px;
  --text-tiny-bold-weight: 700;
  --text-tiny-semibold-size: 10px;
  --text-tiny-semibold-weight: 600;
  --text-tiny-medium-size: 10px;
  --text-tiny-medium-weight: 500;
  --text-tiny-regular-size: 10px;
  --text-tiny-regular-weight: 400;
}
